#assets
!assets/error-404.html
!assets/error-500.html
assets/*

sortablegridfield
framework
colorpicker
cms
translatable
vendor/

/openstack-marketing-portal/*
/blog/*
/cache/*
.htaccess
debug.log
openstack/_live-config.php
_ss_environment.php
simplepie/cache/*
silverstripe-cache/*
silverstripe-cache/
silverstripe-cache
/.buildpath
/.project

# PDT-specific
.buildpath

# Locally stored "Eclipse launch configurations"
*.launch
.settings/

.idea/


#composer
composer.lock
composer.phar
backup_scripts/cron-backup-config.php
logs
feeds/cache
logs/*
sapphire/thirdparty/htmlpurifier-4.4.0/library/HTMLPurifier/DefinitionCache/Serializer/HTML/
elections/input
blog
