label.error{
    padding: 5px !important;
}

.date{
    width: 80px !important;
}

span.message.bad {
    border: 1px solid #8A1F11 !important;
    display: block;
    margin-top: 5px;
    position: absolute;
    z-index: 999;
    padding: 5px !important;
    background: none repeat scroll 0 0 #FBE3E4;
    color: #8A1F11;
}

#point_of_contact_container{
    background-color:#dcdcdc;
    padding: 5px;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.section_container {
    padding-left: 5px;
    padding-top: 10px;
}

#start_date,#end_date {
    width: auto;
    float: left;
}