label.error,.recaptcha .message.validation{
    border: 1px solid #aaa;
    background: #aa2222;
    color: #fff;
    padding: 5px;
    margin: 0;
    -webkit-border-radius: 05px;
    -moz-border-radius: 05px;
    border-radius: 05px;
    width:auto;
}

label.error{
    display:block;
}

input.error{
    border: 1px solid  #aa2222;
}

.field.recaptcha{
    margin-top: 10px;
    float:left;
}

#DeploymentSurveyOrgInfoForm_Form_OpenStackInvolvement .error{
    width:auto;
}

.inline {
    float:left;
}

.clear {
    clear: both;
}

.hidden {
    display: none;
}

.date{
    width: 150px !important;
    margin-right: 30px;
}

.submit_filters {
    margin-top: 25px;
}

.export_filters fieldset{
    border: none;
    background: none;
    margin: 0;
    padding: 10px;
}