.browseButton, #PresentationMediaUploadForm_Form_action_doUpload, #PresentationLinkToForm_LinkToForm_action_saveLink {
    font-size: 1.3em!important;
    width: 100%;
    line-height: 3em!important;
    display: block;
    text-align: center;
    margin-top: 15px;
}

.browseButton, #PresentationMediaUploadForm_Form_UploadedMedia {
}

.browseButton {
	border: 1px solid #E4EEF1;
}

.buttonFileSelected {
	border: 1px solid #D0F1CF;
	background-color: white;
	color: #689C68;
}

.large-file-input {
	position: relative;
}

input#PresentationMediaUploadForm_Form_UploadedMedia{
    width: 446px;
	cursor: pointer;
	background-color: #E4EEF1;
	padding: 10px 0px 10px 20px;
}

fieldset {
	border-top: none;
	padding-top: 0px;
	margin-top: 0px;
}

.no-selected-file {
	border: #CCCCCC 1px solid;
	border-bottom: none;
	padding: 10px;
	text-align: center;
	margin: 0px;
	padding-top: 130px;
	background: url(/themes/openstack/images/conferences/no-presentation.png) center 30px no-repeat;
	color: #CCCCCC;
}

.selected-file {
	border: #CCCCCC 1px solid;
	border-bottom: none;
	padding: 10px;
	text-align: center;
	margin: 0px;
	padding-top: 130px;
	background: url(/themes/openstack/images/conferences/presentation-icon.png) center 30px no-repeat;
	color: black;
}

#PresentationMediaUploadForm_Form, #PresentationLinkToForm_LinkToForm {
	width: 500px;
}

#uploadProgressBarOuterBarG{
height:10px;
width:80px;
margin: 0px auto;
border:1px solid #C9CDD4;
overflow:hidden;
background-color:#FFFFFF;
opacity: 0;}

.uploadProgressBarBarLineG{
background-color:#C9CDD4;
float:left;
width:7px;
height:60px;
margin-right:12px;
margin-top:-14px;
-moz-transform:rotate(45deg);
-webkit-transform:rotate(45deg);
-ms-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}

.uploadProgressBarAnimationG{
width:118px;
-moz-animation-name:uploadProgressBarAnimationG;
-moz-animation-duration:1.3s;
-moz-animation-iteration-count:infinite;
-moz-animation-timing-function:linear;
-webkit-animation-name:uploadProgressBarAnimationG;
-webkit-animation-duration:1.3s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-timing-function:linear;
-ms-animation-name:uploadProgressBarAnimationG;
-ms-animation-duration:1.3s;
-ms-animation-iteration-count:infinite;
-ms-animation-timing-function:linear;
-o-animation-name:uploadProgressBarAnimationG;
-o-animation-duration:1.3s;
-o-animation-iteration-count:infinite;
-o-animation-timing-function:linear;
animation-name:uploadProgressBarAnimationG;
animation-duration:1.3s;
animation-iteration-count:infinite;
animation-timing-function:linear;
}

#uploadProgressBarFrontBarG{
}

@-moz-keyframes uploadProgressBarAnimationG{
0%{
margin-left:-19px;
}

100%{
margin-left:0px;
}

}

@-webkit-keyframes uploadProgressBarAnimationG{
0%{
margin-left:-19px;
}

100%{
margin-left:0px;
}

}

@-ms-keyframes uploadProgressBarAnimationG{
0%{
margin-left:-19px;
}

100%{
margin-left:0px;
}

}

@-o-keyframes uploadProgressBarAnimationG{
0%{
margin-left:-19px;
}

100%{
margin-left:0px;
}

}

@keyframes uploadProgressBarAnimationG{
0%{
margin-left:-19px;
}

100%{
margin-left:0px;
}

}


.upload-tabs a {
	display: inline-block;
	background-color: #EFEFEF;
	padding: 10px 20px;
	border: 1px solid #CCCCCC;
	margin-right: -1px;
	margin-bottom:0px;
	font-size: 16px;
}

.upload-tabs {
	margin: 0px;
	padding: 0px;
	margin-bottom: -1px;
}

.upload-tabs a.active {
	background-color: white;
	border-bottom-color: white;
}

div.presentation {
	margin-bottom: 20px;
	background: url(/themes/openstack/images/conferences/sm-presentation-icon.png) left center no-repeat;
	padding-left: 50px;	
}

div.presentation.no-media {
	background: url(/themes/openstack/images/conferences/sm-missing-presentation-icon.png) left center no-repeat;	
}

.presentation-title {
	font-size: 1.3em;
}

#url-well {
	border: #CCCCCC 1px solid;
	border-bottom: none;
	padding: 10px 0px;
	text-align: center;
	margin: 0px;
	padding-top: 130px;
	background: url(/themes/openstack/images/conferences/weblink-icon.png) center 30px no-repeat;
	color: #CCCCCC;
	width: 498px;
}

.success-box {
	border: #CCCCCC 1px solid;
	padding: 20px;
	text-align: center;
	margin: 0px;
	margin-bottom: 10px;
	padding-top: 130px;
	background: url(/themes/openstack/images/conferences/presentation-icon-success.png) center 30px no-repeat;
	width: 498px;
}

#PresentationLinkToForm_LinkToForm_HostedMediaURL {
	width: 95%;
}

.message {
	margin-top: 20px;
}
