form hr {
	margin: 10px 0 15px 0;
}

.profile-tabs a {
	display: inline-block;
	background-color: #EFEFEF;
	padding: 10px 17px;
	border: 1px solid #CCCCCC;
	margin-right: -1px;
	margin-bottom:0px;
	font-size: 18px;
}

.profile-tabs {
	margin: 0px;
	padding: 0px;
	margin-bottom: -1px;
}

.profile-tabs a.active {
	background-color: white;
	border-bottom-color: white;
}

.profile-appearance {
	border: 1px solid #CCCCCC;
	padding: 17px 20px;
	padding-bottom: 30px;
}

h3.section-divider {
	background-color: #E4EEF1;
	padding: 10px 17px;
	margin: 10px -17px 20px -17px;
	font-size: 100%;
	border-top: 1px solid #CCCCCC;
	color: #264D77;
}

h3.section-divider:first-child {
	margin-top: -17px;
	border-top: none;
}

.field {
	margin-top: 10px;
}


/* Training Front */

/* Add New Course */
#Form_AddTrainingCourseForm_Description{
	width:97%;
	height:100px;
}

.horizontal-fields > *{
	float: left;
	width:25%;
}

.horizontal-fields > div > label{
	float:left;
	margin-top:3px;
}
.horizontal-fields > div > div{
	float:left;
	margin-left:15px;
	margin-top:-5px;
}

#Form_AddTrainingCourseForm_Projects{
	list-style-type:none;
	clear: both;
	width:100%;
	margin-bottom:30px;
	display: block;
	overflow: hidden;
}
#Form_AddTrainingCourseForm_Projects > li{
	float: left;
	width:30%;
}
#Form_AddTrainingCourseForm #schedules{
	overflow: hidden;
}
#Form_AddTrainingCourseForm .scheduleRow{
	clear:both;
}

#Form_AddTrainingCourseForm .scheduleRow > div{
	float:left;
	width:16%;
}
#Form_AddTrainingCourseForm .scheduleRow > div.remove{
	float:left;
	color:#FF0000;
	width:20px;
	margin-top:35px;
	padding:5px;
	cursor: pointer;
	text-align: center;
	height:19px;
}
	#Form_AddTrainingCourseForm .scheduleRow > div.remove:hover{
		background-color: #FF0000;
		color:#FFF;
	}
#Form_AddTrainingCourseForm .scheduleRow > div input{
	width:90%;
}
#Form_AddTrainingCourseForm .scheduleRow > div select{
	width:99%;
	padding:5px;
	height:29px;
}
#Form_AddTrainingCourseForm .city_name:disabled,
#Form_AddTrainingCourseForm .state:disabled,
#Form_AddTrainingCourseForm .country:disabled{
	background-color: #dedede;
}

#Form_AddTrainingCourseForm .note_online{
	display:none;
}